@model List<ResultBlogTagDto>

@{
    ViewData["Title"] = "Blog - Tag Listesi";
    Layout = "~/Areas/Admin/Views/Admin/AdminLayout.cshtml";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Blog</th>
            <th>Tagler</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model.GroupBy(x => x.Blog))
        {
            <tr>
                <td>@group.Key.Title</td>
                <td>
                    @foreach (var bt in group)
                    {
                        <span class="badge badge-info mr-1">@bt.Tag.Name</span>
                    }
                </td>
                <td>
                    <a asp-area="Admin"
                       asp-controller="BlogTag"
                       asp-action="AssignBlogTag"
                       asp-route-blogId="@group.Key.Id"
                       class="btn btn-sm btn-primary">
                        Tag Ata
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
