@*
    _AdminHeaderViewComponentPartial
*@

<div class="header">

   
    <div class="header-left d-flex align-items-center gap-3">

        <a asp-area="Admin"
           asp-controller="FooterAbout"
           asp-action="Index"
           class="btn btn-light btn-sm d-flex align-items-center gap-2"
           title="AI About">
            <i class="dw dw-robot"></i>
            <span>AI About</span>
        </a>

        <a asp-area="Admin"
           asp-controller="AIArticle"
           asp-action="Index"
           class="btn btn-light btn-sm d-flex align-items-center gap-2"
           title="AI Article">
            <i class="dw dw-edit2"></i>
            <span>AI Article</span>
        </a>

    </div>

  
    <div class="header-right">

        <div class="user-info-dropdown">
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                    <span class="user-icon">
                        <img src="@ViewBag.ProfileImage" alt="">
                    </span>
                    <span class="user-name">@ViewBag.User</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                    <a class="dropdown-item" href="/Default/Index">
                        <i class="dw dw-logout"></i> Çıkış Yap
                    </a>
                </div>
            </div>
        </div>

        <div class="github-link">
            <a href="https://github.com/dropways/deskapp" target="_blank">
                <img src="vendors/images/github.svg" alt="">
            </a>
        </div>

    </div>
</div>
