@model EditProfileDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Admin/AdminLayout.cshtml";
}

<h1>Profil Bilgileri Günceleme Sayfası </h1>
<div class="card text-center">
    <div class="card-title text-secondary">
        <h4>Profil Resmi</h4>

    </div>
    <div class="card-body">
        <img src="@Model.ImageUrl" style="height:100px;widht:100px" alt="Profil Resmi" />
    </div>
</div>


<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-6">
            <label>Profil Resmi Seçin</label>
            <input type="file" asp-for="ImageFile" class="form-control"/>

            <label>Ad</label>
            <input type="text" asp-for="FirstName" class="form-control" required/>

            <label>Soyad</label>
            <input type="text" asp-for="LastName" class="form-control" required />

            <label>Unvan</label>
            <input type="text" asp-for="Title" class="form-control" />
 
        </div>

        <div class="col-6">

            <label>Kullanıcı Adı</label>
            <input type="text" asp-for="UserName" class="form-control" required />

            <label>Email</label>
            <input type="email" asp-for="Email" class="form-control" required />
            
            <label>Telefon Numarası</label>
            <input type="text" asp-for="FirstName" class="form-control" />

            <input type="hidden" asp-for="ImageUrl" />

        </div>
        <div class="col-12">
            <label>Bilgileri Güncellemek İçin Mevcut Şifrenizi girin</label>
            <input type="password" asp-for="CurrentPassword" class="form-control" required />
        </div>
        <span class="text-danger">@Html.ValidationSummary()</span>
        <button class="btn btn-outline-dack">Bilgileri Güncelle</button>

    </div>

</form>


