@*
    _AdminLeftSideBarViewComponentPartial
*@
<div class="left-side-bar">
    <div class="brand-logo">
        <a asp-controller="Login" asp-action="LogOut">
            <img src="/ADMIN/vendors/images/deskapp-logo.svg" alt="" class="dark-logo">
            <img src="/ADMIN/vendors/images/deskapp-logo-white.svg" alt="" class="light-logo">
        </a>
        <div class="close-sidebar" data-toggle="left-sidebar-close">
            <i class="ion-close-round"></i>
        </div>
    </div>
    <div class="menu-block customscroll">
        <div class="sidebar-menu">
            <ul id="accordion-menu">

               
                <li>
                    <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="dropdown-toggle">
                        <span class="micon dw dw-house-1"></span><span class="mtext">Anasayfa</span>
                    </a>

                </li>
                <li>
                    <a asp-area="Admin" asp-controller="About" asp-action="Index" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-list"></span><span class="mtext">Hakkımda Alanı</span>
                    </a>
                </li>

                <li>
                    <a asp-area="Admin" asp-controller="Category" asp-action="Index" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-list"></span><span class="mtext">Kategoriler</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Blog" asp-action="Index" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-newspaper"></span><span class="mtext">Bloglar</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Tag" asp-action="Index" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-price-tag"></span><span class="mtext">Etiketler</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="BlogTag" asp-action="Index" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-layers"></span><span class="mtext">Blog Etiket Bağlamı</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Comment" asp-action="Index" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-chat"></span><span class="mtext">Yorumlar</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="ContactMessage" asp-action="Index" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-chat"></span><span class="mtext">Kullanıcı Mesajları</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="ContactInfo" asp-action="Index" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-list"></span><span class="mtext">İletişim Alanı</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Social" asp-action="Index" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-share"></span><span class="mtext">Sosyal Medya</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-user-1"></span>
                        <span class="mtext">Kullanıcı Sayfası</span>
                    </a>
                    <ul class="submenu">
                        <li><a asp-area="Admin" asp-controller="Users" asp-action="Index">Kullanıcıların Listesi</a></li>
                        <li><a asp-area="Admin" asp-controller="Role" asp-action="Index">Rol Listesi</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-user"></span><span class="mtext">Profil</span>
                    </a>
                    <ul class="submenu">
                        <li><a asp-area="Admin" asp-controller="Profile" asp-action="Index">Profil Bilgileri</a></li>
                        <li><a asp-area="Admin" asp-controller="ChangePassword" asp-action="Index">Şifre İşlemleri</a></li>
                    </ul>
                </li>
                <li>
                    <a asp-area="" asp-controller="Login" asp-action="Logout" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-logout"></span>
                        <span class="mtext">Çıkış Yap</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>