<div class="comment-form-wrap pt-5">
    <h3 class="mb-5">Yorum Bırak</h3>

    <form id="commentForm" method="post" action="/Comment/Create">
        <input type="hidden" name="BlogId" value="@ViewBag.BlogId" />

        <div class="form-group">
            <label>Mesaj</label>
            <textarea name="Content" id="message" cols="30" rows="5" class="form-control" required></textarea>
        </div>

        <div class="form-group">
            <button type="submit" id="commentSubmit" class="btn btn-primary">
                Yorumu Kaydet
            </button>
        </div>
    </form>
</div>
