@model UpdateCategoryDto
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Kategori Güncelle</h1>

<form method="post">
    <input type="hidden" asp-for="Id"/>
    <label>Kategori Adı</label>
    <input type="text" asp-for="Name" class="form-control" />
    <span class="text-danger" asp-validation-for="Name"></span>
    <br />
    <button class="btn btn-info">Güncelle</button>

</form>