
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

@await Component.InvokeAsync("_AdminHeadViewComponentPartial");

<body>
	<div class="pre-loader">
		<div class="pre-loader-box">
			<div class="loader-logo"><img src="/ADMIN/vendors/images/deskapp-logo.svg" alt=""></div>
			<div class='loader-progress' id="progress_div">
				<div class='bar' id='bar1'></div>
			</div>
			<div class='percent' id='percent1'>0%</div>
			<div class="loading-text">
				Loading...
			</div>
		</div>
	</div>


		@await Component.InvokeAsync("_AdminHeaderViewComponentPartial");

	

	@await Component.InvokeAsync("_AdminRightSideBarViewComponentPartial");

	@await Component.InvokeAsync("_AdminLeftSideBarViewComponentPartial");


	<div class="mobile-menu-overlay"></div>

	<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			@RenderBody()
		</div>
	</div>

	<div class="footer-wrap pd-20 mb-20 card-box">
		DeskApp - Bootstrap 4 Admin Template By <a href="https://github.com/dropways" target="_blank">Ankit Hingarajiya</a>
	</div>
	<!-- js -->
	@await Component.InvokeAsync("_AdminScriptsViewComponentPartial");
</body>
</html>