@using Blogy.Entity.Entities
@model List<Tag>

<div class="sidebar-box">
    <h3 class="heading">Etiketler</h3>

    @if (Model != null && Model.Any())
    {
        <ul class="tags">
            @foreach (var tag in Model)
            {
                <li>
                    <a href="#">#@tag.Name</a>
                </li>
            }
        </ul>
    }
    else
    {
        <p class="text-muted">Bu yazıya ait etiket bulunamadı.</p>
    }
</div>
