@using Blogy.Business.DTOs.FooterAboutDtos
@model ResultFooterAboutDto

<div class="widget">
    <h3 class="mb-4">Hakkımızda</h3>

    @if (Model != null && !string.IsNullOrWhiteSpace(Model.Content))
    {
        <p>@Model.Content</p>
    }
    else
    {
        <p class="text-muted">
            Hakkımızda bilgisi henüz eklenmedi.
        </p>
    }
</div>
