@*_UILayoutFootersAboutPartComponent*@

    <div class="widget">
        <h3 class="mb-4">Hakkımda</h3>
        <p>
            Yazılım geliştirme, .NET dünyası, teknoloji ve modern web projeleri üzerine
            içerikler paylaştığım kişisel bloguma hoş geldin.
            Burada hem teknik yazılar hem de deneyimlerimi bulabilirsin.
        </p>
    </div>



