@model List<ResultCategoryDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<style>
    .category-dot {
        width: 14px;
        height: 14px;
        background-color: #355c7d; 
        border-radius: 50%;
        margin-right: 15px;
    }
</style>

<div class="section search-result-wrap">
    <div class="container">
        <div class="row mb-4">
            <div class="col-12">
                <h2 class="h3 fw-bold">Kategoriler</h2>
            </div>
        </div>

        <div class="row posts-entry">
           
            <div class="col-lg-8">
                @foreach (var category in Model)
                {
                    <div class="blog-entry d-flex blog-entry-search-item align-items-center mb-3">
                        <div class="category-dot"></div>

                        <div>
                            <span class="date">@category.CreatedDate.ToShortDateString()</span>
                            <h2>
                                <a asp-controller="Blog"
                                   asp-action="GetBlogsByCategory"
                                   asp-route-categoryId="@category.Id">
                                    @category.CategoryName
                                </a>
                            </h2>
                        </div>
                    </div>
                }
            </div>

            <div class="col-lg-4 sidebar">

                <div class="sidebar-box search-form-wrap mb-4">
                    <form action="#" class="sidebar-search-form">
                        <span class="bi-search"></span>
                        <input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter">
                    </form>
                </div>

                <!-- END sidebar-box -->
                @await Component.InvokeAsync("_BlogsByCategoryLatestBlogComponent")

                <!-- END sidebar-box -->
                @await Component.InvokeAsync("_DefaultCategoryListComponent")

              
            </div>
        </div>
    </div>
</div>
